/* ------------------------------ CSS NAV PRINCIPAL MENU PRINCIPAL -------------------- */
nav {
    /* background: rgba(0, 0, 0, 0.9);  */
    color: black; 
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px; 
    position: fixed; 
    top: 0;
    left: 0;
    width: 100%; 
    height: 70px;
    z-index: 1000; 
    margin-bottom: 20px; 
    transition: background 0.3s ease; 
}

nav.scrolled {
    background: black; 
    color: #999999;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2); 
}

.logo {
    display: flex; /* Flexbox para alinear elementos en línea */
    align-items: center; /* Alinea verticalmente los elementos */
}

.logo img {
    margin-top: 8px;
    height: 80px; /* Ajusta el tamaño del logo */
    width: 80px;
}

.logo-title {
    margin-left: 15px; /* Espaciado entre la imagen y el título */
    font-size: 24px; /* Tamaño del texto del título */
    color: inherit; /* Hereda el color actual del nav */
    font-weight: bold; /* Estilo de texto en negrita */
}

ul {
    display: flex;
    list-style: none;
    padding: 10px 0;
}

ul li {
    margin: 0 15px;
}

ul li a {
    color: inherit; /* Hereda el color actual del nav */
    text-decoration: none;
    padding: 5px 10px;
    transition: background 0.3s ease, color 0.3s ease; /* Suaviza cambios de color y fondo */
}

ul li a:hover {
    color: white;
    background: orange;
    border-radius: 4px;
    text-decoration: none;
}

.menu-toggle {
    display: none;
}

.menu-icon {
    display: none;
    flex-direction: column;
    cursor: pointer;
}

.menu-icon span {
    height: 3px;
    width: 25px;
    background: #fff;
    margin: 4px 0;
}

/* Estilos para pantallas pequeñas */
@media (max-width: 768px) {
    ul {
        display: none;
        flex-direction: column;
        width: 100%;
        position: absolute;
        top: 70px;
        left: 0;
        background: black;
    }

    .menu-toggle:checked + .menu-icon + ul {
        display: flex;
    }

    .menu-icon {
        display: flex;
    }

    ul li {
        margin: 10px 0;
        text-align: center;
    }
}